### Project - PlantGrowth R dataset analysis

##### 1. Dataset description

https://vincentarelbundock.github.io/Rdatasets/doc/datasets/PlantGrowth.html   
https://wordpress.com/support/markdown-quick-reference/

PlantGrowth R dataset [PlantGrowth.csv](./PlantGrowth.csv) used for the project was obtained from Vincent Arel-Bundockâ€™s Rdataset page in csv format. Dataset includes <b>30 cases</b> of plants and two variables:       
1. dried weight of plants      
2. treatment condition:    
    -	Control group <b>ctrl</b>         
    -	Treatment type 1 applied to plants <b>trt1</b>      
    -	Treatment type 2 applied to plants <b>trt2</b>             

Dried weight of plants is measured for all groups, the control group without the treatment and the groups with two different treatment types. There is no more information provided on conditions the plants were treated in except different treatment types. Assuming the rest of conditions were set equal for each group, we will analyse data solely based on different treatment types. The purpose of the project is to compare plant growth according to a treatment type using t-test and ANOVA statistical tests. By using these tests, we will try to determine is there a significant difference between the groups. Additionally, we will compare ANOVA and t-test approach in this particular dataset analysis.

##### 2. Import Libraries

In [17]:
# Numerical computing
import numpy as np

# Create dataframe from csv data
import pandas as pd

# Statistical functions
import scipy.stats as stats 

# Plotting
import matplotlib.pyplot as plt     

# Data visualisation
import seaborn as sns

##### 3. Explore and describe data

https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html

In [18]:
# Read data from csv using pandas
plant_data = pd.read_csv('PlantGrowth.csv')

In [19]:
# Display rows
plant_data.head()

   rownames  weight group
0         1    4.17  ctrl
1         2    5.58  ctrl
2         3    5.18  ctrl
3         4    6.11  ctrl
4         5    4.50  ctrl

In [20]:
print(plant_data)

    rownames  weight group
0          1    4.17  ctrl
1          2    5.58  ctrl
2          3    5.18  ctrl
3          4    6.11  ctrl
4          5    4.50  ctrl
5          6    4.61  ctrl
6          7    5.17  ctrl
7          8    4.53  ctrl
8          9    5.33  ctrl
9         10    5.14  ctrl
10        11    4.81  trt1
11        12    4.17  trt1
12        13    4.41  trt1
13        14    3.59  trt1
14        15    5.87  trt1
15        16    3.83  trt1
16        17    6.03  trt1
17        18    4.89  trt1
18        19    4.32  trt1
19        20    4.69  trt1
20        21    6.31  trt2
21        22    5.12  trt2
22        23    5.54  trt2
23        24    5.50  trt2
24        25    5.37  trt2
25        26    5.29  trt2
26        27    4.92  trt2
27        28    6.15  trt2
28        29    5.80  trt2
29        30    5.26  trt2

In [ ]:
display(plant_data)

    rownames  weight group
0          1    4.17  ctrl
1          2    5.58  ctrl
2          3    5.18  ctrl
3          4    6.11  ctrl
4          5    4.50  ctrl
5          6    4.61  ctrl
6          7    5.17  ctrl
7          8    4.53  ctrl
8          9    5.33  ctrl
9         10    5.14  ctrl
10        11    4.81  trt1
11        12    4.17  trt1
12        13    4.41  trt1
13        14    3.59  trt1
14        15    5.87  trt1
15        16    3.83  trt1
16        17    6.03  trt1
17        18    4.89  trt1
18        19    4.32  trt1
19        20    4.69  trt1
20        21    6.31  trt2
21        22    5.12  trt2
22        23    5.54  trt2
23        24    5.50  trt2
24        25    5.37  trt2
25        26    5.29  trt2
26        27    4.92  trt2
27        28    6.15  trt2
28        29    5.80  trt2
29        30    5.26  trt2